{
    # App settings
    "port": 8080,
    "hostname": "localhost", 
    "debug": "True",
    "num_of_process_executors": 4,

    # Db connection settings
    "db_name": "rss",
    "db_user": "rss",
    "db_password": "rss",
    "db_host": "postgres",
    "db_port": 5432,

    # Redis settings
    "redis_host": "redis",
    "redis_port": 6379,

    # Smtp connection settings
    "smpt_host": "0.0.0.0",
    "smpt_port": "1025",
    "smpt_user": "",
    "smpt_password": "",

    "cookie_secret=": "__TODO:_GENERATE_YOUR_OWN_RANDOM_VALUE_HERE__"
}