{
    # App settings
    "port": 8080,
    "debug": "True",

    # Db connection settings
    "db_name": "rss",
    "db_user": "rss",
    "db_password": "rss",
    "db_host": "postgres",
    "db_port": 5432
}