{% extends "base.html" %}

{% block content %}
<form action="/login" method="POST">
  Email:<br>
  <input type="text" name="email" required>
  <br>
  Password:<br>
  <input type="password" name="password" required>
  <br><br>
  {% if status == 'bad_login' %}
    <font size="3" color="red"><b>Wrong user name or password!</b></font>
    <br><br>
  {% end %}
  {% if status == 'bad_register' %}
    <font size="3" color="red"><b>User exists!</b></font>
    <br><br>
  {% end %}

  <input type="submit" value="Login">
  <input type="submit" value="Register" formaction="/register" method="POST">

</form> 
{% end %}