{% extends "base.html" %}

{% block sytle %}
  <style>
    .collapsible {
      background-color: #777;
      color: white;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
    }
    
    .active, .collapsible:hover {
      background-color: #555;
    }
    
    .content {
      padding: 0 18px;
      display: none;
      overflow: hidden;
    }
    .item {
      border-top:2px solid #f00
    }

  </style>
{% end %}
{% block content %}
  <form action="/rss_reader" method="POST">
      <br>
      New RSS:
      <input type="text" name="rss_link" required>
      <input type="submit" value="Add RSS" required>
  </form> 

  <h2>Rss Feed</h2>

  {% for rss in rss_feed %}
    <button type="button" class="collapsible">{{ escape(rss[0].title) }}</button>
    <div class="content">
    {% for item in rss[1] %}
        <p class="item">{{ escape(item['title']) }}</p>
        <p>{{ escape(item['description']) }}</p>
        <p><a href={{ escape(item['link']) }}>Read More</a></p>
        <p>{{ escape(item['pubDate']) }}</p>
    {% end %}
    </div>
  {% end %}

{% end %}
{% block scripts %}
  <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
  </script>
{% end %}
